body{
	font-style:sans-serif,arial,times;
	background-color:grey;
}
h1{
	line-height:5px;
	font-size:1.2em;
	color:orange;
}
hgroup h1{
	font-size:2em;
	color:white;
}
hgroup h2{
	font-size:1.6em;
}
hgroup{
	float:left;
	width:70%;
}
nav{
	float:right;
	width:30%;
}
nav ul{
	list-style-type:none;
}
nav li{
	float:left;
	margin-right:10px;
}
header{
	width:80%;
	background-color:orange;
		color:white;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	overflow:hidden;
}
img{
	float:right;
	margin:5px;
	border-width:2px;
	border-style:solid;
	border-color:black;
}
hr{
 border-width:0;
}
section{
	font-style:times;
	width:80%;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	border-width:5px;
	border-style:double;
	border-color:orange;
	padding:5px
}
footer{
	background-color:orange;
	font-style:arial;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}